html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


#container {
    width:240px;
    height:100%;
    margin:0 auto;
    position:relative;
}

#main {
    width:240px;
    position:absolute;
    top:50%;
    margin:-10px 0 -120px 0;
}

/*-------------
SET GOOGLE MAP DIV HEIGHT

#map-canvas {
    height: 100%;
}
-------------*/


/*
 add hamburger-shaped icon
 on the top-left corner of the google map
 to enable the page toggling
*/
.toogle-icon {
    width: 2em;
    background: transparent;
    z-index: 30;
    position: absolute;
    left: 2em;
    top: -2.0em;
}

.searchbox-row {
    margin-top: 2em;
    margin-left: 1em;
}

.container-fluid {
    padding: 0px;
}

