html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 100%;
}

.eq-height {
    display: flex;
    flex-wrap: wrap;
}

.eq-height > div[class*='col-'] {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align the flex-items vertically */
    /*
    align-items: center;
     Optional, to align inner flex-items
                              horizontally within the column
    */
}