html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 100%;
}

/*
 add hamburger-shaped icon
 on the top-left corner of the google map
 to enable the page toggling
*/
.toogle-icon {
    width: 2em;
    background: transparent;
    z-index: 30;
    position: absolute;
    left: 2em;
    top: 5em;
}

.container-fluid, .row {
    padding:0px;
}